body {
  margin: 0;
  font-family: monaco;
  font-size: 15px;
}

.editor-wrapper {
  flex-direction: row;
  overflow: hidden;
  display: flex;
  border: 1px solid silver;
  width: 100%;
}

.panel-left {
  white-space: nowrap;
  min-width: 150px;
  height: 100%;
  color: white;
  width: 100%;
  flex: 0 0 auto;
}

.splitter {
  flex: 0 0 auto;
  width: 1px;
  background: center center no-repeat darkgray;
  min-height: 200px;
  cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

.hidden {
  display: none;
}
