/* CODEMIRROR */

.CodeMirror {
  height: 100%;
}

/* BOTTOM BAR */

.bottom-wrapper {
  border-top: 1px solid lightgray;
  background: #f7f7f7;
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  height: 40px;
  width: 100%;
  left: 0px;
}

.filter-input {
  border-left: 1px solid lightgray;
  font-family: monaco;
  border-top: none;
  font-size: 20px;
  position: relative;
  height: 40px;
  width: 100%;
  left: 46px;
}

.filter-input:focus {
  outline-width: 0;
}

.filter-icon-wrapper {
  position: absolute;
  height: 42px;
  width: 47px;
  left: 0px;
  top: -1px;
}

.filter-icon {
  position: absolute;
  opacity: .5;
  width: 30px;
  left: 8px;
  top: 5px;
}

/* jQuery UI Overrides */

.ui-widget.ui-widget-content {
  border: 0
}

.ui-widget-content .ui-tabs-tab {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.ui-tabs-tab + li.ui-tabs-tab {
  margin-left: 0rem !important;
}

.ui-tabs,
.ui-tabs .ui-tabs-panel,
.ui-tabs-vertical .ui-tabs-panel {
  padding: 0;
}

.ui-tabs-nav {
  padding-right: 0 !important;
}

.ui-widget-content .ui-state-active {
  background: #fff;
  border: 1px solid #ccc;
}

.ui-widget-content .ui-tabs-tab {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding-right: 8px !important;
}

.ui-widget-header {
  background: #fff;
  border-right-width: 0;
}

.ui-widget-content .ui-state-active a {
  color: #444;
}

body {
  overflow: hidden;
}

#tab-header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 41px;
  padding-left: 55px; /* width of gutter */
}

.tab-content.ui-tabs-panel {
  position: absolute;
  padding-top: 41px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab-bar {
  display: block;
}

.tab-bar-hidden .tab-bar {
  display: none;
}

.tab-bar-hidden .tab-content {
  padding-top: 0;
}

.ui-tabs-tab,
.ui-tabs-tab > * {
  outline: none;
}

.ui-tabs-tab {
  /* width: 50px; */
}

.ui-tabs-tab + li.ui-tabs-tab {
  margin-left: 0.5rem;
}

.ui-tabs-tab .ui-icon-close {
  position: absolute;
  right: 3px;
  top: 13px;
  cursor: pointer;
  visibility: hidden;
}

.ui-tabs-tab:hover .ui-icon-close
{
  visibility: visible;
}

.ui-tabs-tab:hover .ui-icon-close
{
  visibility: visible;
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url(../vendor/jquery-ui/images/ui-icons_444444_256x240.png);
}


#new-tab {
  cursor: pointer;
  position: relative;
  top: 8px;
  left: 8px;
  background: #f7f7f7;
  border: 1px solid #f1f1f1;
  color: #444;
  border-radius: 6px;
  padding: 4px 8px;
}
