/* CODEMIRROR */

.CodeMirror {
  height: 100%;
}

/* BOTTOM BAR */

.bottom-wrapper {
  border-top: 1px solid lightgray;
  background: #f7f7f7;
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  height: 40px;
  width: 100%;
  left: 0px;
}

.filter-input {
  border-left: 1px solid lightgray;
  font-family: monaco;
  border-top: none;
  font-size: 20px;
  position: relative;
  height: 40px;
  width: 100%;
  left: 46px;
}

.filter-input:focus {
  outline-width: 0;
}

.filter-icon-wrapper {
  position: absolute;
  height: 42px;
  width: 47px;
  left: 0px;
  top: -1px;
}

.filter-icon {
  position: absolute;
  opacity: .5;
  width: 30px;
  left: 8px;
  top: 5px;
}
